body {
	margin: 0;
	overflow: hidden;
	background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg") !important;
	background-size: cover;
	backdrop-filter: brightness(50%);
}

html {
	overflow: hidden;
	font-family: "Roboto", sans-serif;
}

canvas {
	display: block;
}

#canvas_container {
	z-index: -100;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
}

nav {
	z-index: 10000;
}

.navbar-brand {
	font-size: 1.5em;
}

.nav-link {
	font-size: 1.25em;
	color: #fff !important;
}

.hover-underline-animation:after {
	content: "";
	position: relative;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.coming-soon {
	font-family: "Press Start 2P", cursive;
	font-size: 4em !important;
	text-align: center !important;
	/* letter-spacing: -1px !important; */
}

.title-head-bold {
	font-weight: 700 !important;
}

.navbar-toggler {
	border: none !important;
}

.navbar-toggler:active {
	border: none !important;
}

.navbar-toggler:focus {
	border: none !important;
	box-shadow: none !important;
}

.toggle-icon-new {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.toggle-icon-new span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.toggle-icon-new span {
	background: #fff;
}

.toggle-icon-new span:nth-child(1) {
	top: 0px;
}

.toggle-icon-new span:nth-child(2) {
	top: 10px;
}

.toggle-icon-new span:nth-child(3) {
	top: 20px;
}

.toggle-icon-new.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.toggle-icon-new.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.toggle-icon-new.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

footer {
	z-index: 10000;
}

/* .about-container {
	margin: 0rem 13rem !important;
	width: 25%;
	margin-left: 1rem;
	display: block;
	position: absolute;
	bottom: 1rem;
	transition: transform 1s ease;
	transform: translateY(130px);
}

.about-container:hover{
	transform: translateY(0px);
}

.about-title {
	font-weight: 700;
	color: #fff;
	margin: 0;
	padding-bottom: 1rem;
}

.about-content {
	display: block;
	color: #fff;
	font-size: 1rem;
}

.social-container {
	display: flex;
	width: 15%;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 1rem;
	right: 0rem;
	margin-right: 13rem;
}

.about-container-mobile {
	display: none;
}

@media only screen and (max-width: 450px) {

	.about-container-mobile {
		display: block;
		width: 100%;
		margin: 1rem;
		padding-top: 6rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.about-container {
		display: none;
	}

	.social-container {
		max-width: 450px;
		min-width: 300px;
		margin-right: 0rem;
		position: relative;
		left: 45px;
	}
} */

.about {
	position: fixed;
	bottom: 0;
	cursor: pointer;
	transition: all 4 ease-in-out;
}

/* .about:hover {
	
} */

.about-details {
	display: none;
	transition: all 4 ease-in-out;
}

.about-details-para {
	transition: all 4 ease-in-out;
}

/* .about:hover .about {
	
} */

.about:hover .about-details {
	display: block;
	transition: all 4 ease-in-out;
}

.about-head {
	font-size: 1.75rem !important;
	font-weight: 700 !important;
}

.social-links .social li {
	list-style: none;
	font-size: 1.5em;
}

.cs-span {
	position: relative;
}

/* Accordian */
.about-responsive {
	display: none;
}

ul.acc-ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.acc-ul li.acc-li {
	position: relative;
}
ul.acc-ul li.acc-li input[type="checkbox"] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}
ul.acc-ul li.acc-li i.acc-i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
}
ul.acc-ul li.acc-li input[type="checkbox"]:checked ~ p.acc-p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translateX(-50%);
}

ul.acc-ul li.acc-li input[type="checkbox"]:checked ~ i.acc-i::before {
	transform: translate(2px, 0) rotate(45deg);
}
ul.acc-ul li.acc-li input[type="checkbox"]:checked ~ i.acc-i::after {
	transform: translate(-2px, 0) rotate(-45deg);
}
ul.acc-ul li.acc-li i.acc-i::before,
ul.acc-ul li.acc-li i.acc-i::after {
	content: "";
	position: absolute;
	background: #fff;
	width: 3px;
	height: 9px;
}
ul.acc-ul li.acc-li i.acc-i::before {
	transform: translate(-2px, 0) rotate(45deg);
}
ul.acc-ul li.acc-li i.acc-i:after {
	transform: translate(2px, 0) rotate(-45deg);
}
p.acc-p {
	font-size: 16px;
	color: #fff;
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	/* padding: 0 11px; */
	max-height: 800px;
	margin-top: 14px;
	opacity: 1;
	transform: translate(0, 0);
	overflow: hidden;
}
p.acc-p,
ul.acc-ul li.acc-li i.acc-i:before,
ul.acc-ul li.acc-li i.acc-i:after {
	transition: all 0.25s ease-in-out;
}
.flipIn,
ul.acc-ul li.acc-li {
	animation: flipdown 0.5s ease both;
}
ul.acc-ul li.acc-li:nth-of-type(1) {
	animation-delay: 0.5s;
}
ul.acc-ul li.acc-li:nth-of-type(2) {
	animation-delay: 0.75s;
}
ul.acc-ul li.acc-li:nth-of-type(3) {
	animation-delay: 1s;
}
ul.acc-ul li.acc-li:last-of-type {
	padding-bottom: 0;
}

@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}
	5% {
		opacity: 1;
	}
	80% {
		transform: rotateX(8deg);
	}
	83% {
		transform: rotateX(6deg);
	}
	92% {
		transform: rotateX(-3deg);
	}
	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}

/* End of Accordian */

.social-links .social li a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin-left: 25px;
	transition: 0.3s ease-in-out;
}

.social-links .social li:hover a {
	transform: translateY(-15px);
}

.facebook:hover a .fa-facebook-f {
	color: #4267b2;
	background-clip: text;
	-webkit-background-clip: text;
}

.youtube:hover a .fa-youtube {
	background-color: #fff !important;
	color: #f00;
	background-clip: text;
	-webkit-background-clip: text;
}

.twitter:hover a .fa-twitter {
	color: #1da1f2;
	background-clip: text;
	-webkit-background-clip: text;
}

.fa-instagram {
	transition: 0.3 ease-in-out;
}

.instagram:hover a .fa-instagram {
	transition: 0.3 ease-in-out;
	color: transparent;
	background: -webkit-radial-gradient(
		30% 107%,
		circle,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: -o-radial-gradient(
		30% 107%,
		circle,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: -webkit-radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
}

footer .container {
	justify-content: space-between;
}

@media only screen and (max-width: 576px) {
	.about {
		display: none;
	}

	.about-responsive {
		display: block;
	}

	footer .container {
		justify-content: center !important;
	}
}

@media only screen and (max-width: 425px) {
	.container {
		max-width: 400px !important;
	}
}

@media only screen and (max-width: 400px) {
	.container {
		max-width: 380px !important;
	}
	.coming-soon {
		font-size: 3.5em !important;
	}
}

@media only screen and (max-width: 375px) {
	.container {
		max-width: 360px !important;
	}
}

@media only screen and (max-width: 360px) {
	.container {
		max-width: 3450px !important;
	}
}
